body {background-color: bisque;}
section{
    height: 500px;
    width: 100px;
    background-color: aquamarine;
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1,h2,h3{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}